
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    flex-flow: column wrap;
}


h1 {
    font-family: "Mukta", sans-serif;
    color: #4B5B40;
}

b {
    color: #A52B2A;

}

a:link {
    color: #4B5B40;
    text-decoration: none;   
 }

 a:visited {
    color: #4B5B40; 
 }
 
 a:hover {
     color: #A52B2A;
     text-decoration: underline;
 }
 
 a:active {
     color: #A52B2A;
 }
 
 a:focus {
    color: #4B5B40;
 }
 
 a:checked {
     color: #4B5B40;
 }
 
.nav {
    display: flex;
    flex-flow: column wrap;
    float: left;
    align-content: center;
    justify-content: center;
    font-family: "Mukta", sans-serif;
    font-size: 1.875rem;
    text-transform: uppercase;
    list-style: none;
    cursor: pointer;
}

.navmobile {
    display: none;
}

.hero {
    background: url(https://images.pexels.com/photos/827058/pexels-photo-827058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    no-repeat center center;
    height: 60vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
    background-size: cover;
}

.herotext {
    display: flex;
    flex-flow: column wrap;
    color: white;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 5em;
   
}

ul.navul {
    display: flex;
    flex-flow: column-wrap;
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
}

li.navlink {
    display: inline-block;
    align-self: center;
    justify-self: center;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    color: #4B5B40;
    font-weight: bold;
    letter-spacing: 0.1875rem;
}

.maintext {
    display: flex;
    flex-flow: row wrap;
    margin-left: 3rem;
    width: 100%;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

.maintextcolumnleft {
    width: 30%; 
}

.maintextcolumnlefthome {
    width: 80%;
    margin: 0 auto;
}

.maintextcolumnright {
    display: flex;
    flex flow: column wrap;
    width: 40%;
    margin: 0 auto;
    margin-top: 0.875rem;
    align-items: flex-end;
}

.clear {
    clear: both;
    }

.philodendron {
   
    margin-bottom: 0.625rem;
    bottom: 4rem;
}

.footer {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 0.75rem;
    align-items: center;
    justify-content: center;
    background-color: #4B5B40;
    padding: 1rem;
    color: white;
    font-family: "Mukta", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

@media (max-width: 700px) {

.nav {
display: none;
    }

.navmobile{
    display: inline-block;
}

.navmobilelist {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}

div {
    float: none;
    }

.hero {
    width: 100%;
   
}

.herotext {
    font-size: 2em;
}

.maintext {
    position: relative;
    margin-left: 0.0625rem;
    }

.maintextcolumnleft {
        width: 100%; 
    }
}